
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

h1 ,h2 {
  text-align: center;
  color: #333;
  margin: 10px 0;
}
.pink-div {
  background-color: pink;
  color: green;
  border: 2px dashed red;
  padding: 10px;
  margin: 10px auto;
  max-width: 600px;
  text-align: center;
  height: 50px;
  overflow: hidden;
}
.purple-div {
  background-color: purple;
  color: white;
  border: 2px dashed red;
  padding: 10px;
  margin: 10px auto;
  max-width: 600px;
  text-align: center;
  height: 50px;
  overflow: hidden;
}
.custom-img {
  display: block;
  margin: 10px auto;
  max-width: 90%;
  height: auto;
  max-width: 200px;
  object-fit: cover;
}